### Task 1
Upload the `PAD_02.csv` file as a data frame.
Calculate the strength of each value in the `COUNTRY` variable.

In [1]:
import pandas as pd

df = pd.read_csv('datasets/PAD_02.csv', sep=';')
df.head()

   ID Country  owns_car  owns_TV  owns_house  owns_Phone gender  Age
0   1       A         0        0           0           1      M   61
1   2       B         0        0           0           1      M   44
2   3       A         0        0           0           1      M   56
3   4       A         0        0           0           1      M   53
4   5       C         1        1           0           1      K   60

In [2]:
df['Country'].value_counts(dropna=False)

A      328
B      201
C      186
D       78
NaN      7
Name: Country, dtype: int64

### Task 2
Create a `owned_goods` variable that will tell you the number of owned goods.

In [3]:
df['owned_goods'] = df['owns_car'] + df['owns_TV'] + df['owns_house'] + df['owns_Phone'] 
df.head()

,ID,Country,owns_car,owns_TV,owns_house,owns_Phone,gender,Age,owned_goods
0,1,A,0,0,0,1,M,61,1
1,2,B,0,0,0,1,M,44,1
2,3,A,0,0,0,1,M,56,1
3,4,A,0,0,0,1,M,53,1
4,5,C,1,1,0,1,K,60,3

### Task 3
Compare the average of owned goods between men and women.

In [4]:
df[['gender','owned_goods']].groupby(['gender']).mean()

        owned_goods
gender
K          2.796915
M          0.922141

### Task 4
Create a data frame that will contain:
- the value of the COUNTRY variable in the first column, 
- the average of owned goods in a given country in the second column, 
- the minimum age in the third column, 
- and the percentage of women in the fourth column.

In [5]:
col2 = df[['Country','owned_goods']].groupby('Country').mean()
col3 = df[['Country','Age']].groupby('Country').min() 

col4 = df[df['gender']=='K'][['Country', 'gender']].groupby('Country').count()
col4['percentage_K'] = col4['gender'] / df[df['gender']=='K'].shape[0]

first method of merging

In [6]:
df_result = col2.join(col3).join(col4['percentage_K'])
df_result.rename(columns={'owned_goods': 'Avg_of_owned_goods', 'Age': 'min_age'})

         Avg_of_owned_goods  min_age  percentage_K
Country
A                  0.871951       18      0.002571
B                  1.472637       18      0.321337
C                  3.037634       18      0.473008
D                  4.000000       18      0.200514

second method of merging

In [7]:
df_result2 = df.groupby('Country').agg({'owned_goods':'mean', 
                                          'Age':'min', 
                                          'gender': lambda x: x[x=='K'].count()/df[df['gender']=='K'].shape[0]})
df_result2.rename(columns={'owned_goods': 'Avg_of_owned_goods', 'Age': 'min_age', 'gender': 'percentage_K'})

         Avg_of_owned_goods  min_age  percentage_K
Country
A                  0.871951       18      0.002571
B                  1.472637       18      0.321337
C                  3.037634       18      0.473008
D                  4.000000       18      0.200514